# Exploratory Data Analysis

In [24]:
import pandas as pd
import numpy as np

table = pd.read_csv("../../../data/collected/ap_probability.csv")

In [20]:
table.tail()

,timestamp,alpha,beta,delta,gamma,theta,p_calm,p_focus
28,07:29:40,"[2.7206865758102943, 2.537061307481876, 3.6973...","[3.0870831894206368, 2.491472112074295, 2.7644...","[3.2092699089288317, 2.3190700224796084, 4.847...","[0.6324975512899664, 0.7062816624574366, 0.537...","[4.658785874714427, 2.7560026434824607, 5.7475...",NaN,NaN
29,07:29:40,NaN,NaN,NaN,NaN,NaN,NaN,0.518703
30,07:29:41,NaN,NaN,NaN,NaN,NaN,0.330136,NaN
31,07:29:41,NaN,NaN,NaN,NaN,NaN,NaN,0.549024
32,07:29:42,NaN,NaN,NaN,NaN,NaN,0.379901,NaN

In [21]:
table.columns

Index(['timestamp', 'alpha', 'beta', 'delta', 'gamma', 'theta', 'p_calm',
       'p_focus'],
      dtype='object')

In [26]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  31 non-null     object
 1   alpha      21 non-null     object
 2   beta       21 non-null     object
 3   delta      21 non-null     object
 4   gamma      21 non-null     object
 5   theta      21 non-null     object
 6   p_calm     5 non-null      float64
 7   p_focus    5 non-null      float64
dtypes: float64(2), object(6)
memory usage: 2.1+ KB